<div class="row mt-5">
  <div class="col text-center">
    <h1>Gruppen zuteilung</h1>
  </div>
</div>
<div cdkDropListGroup>
  <div class="row mt-4">
      <div class="col">
        <!-- Hier NGFOR-->
        <div *ngFor="let gruppe of gruppen; let i = index" class="col-12" >
          <app-gruppen-element
          [gruppe]="gruppe"
          (toDeleteSchueler)="deleteSchueler($event)"
          (clickedChipEvent)="toKickStudent($event)"
          ></app-gruppen-element>
        </div>
      </div>
      <div class="col">
        <div class="card mt-2">
          <h4 class="card-header">Nutzerliste</h4>
          <div class="card-body">
            <mat-chip-list
              class="example-chip"
              cdkDropList
              id="listOne"
              cdkDropListConnectedTo='listTwo'
              cdkDropListOrientation="horizontal"
              [cdkDropListData]="schuelerCompleteList"
              (cdkDropListDropped)="drop($event)">
              <mat-chip *ngIf="schuelerCompleteList.length <= 0">Schüler Liste ist Leer</mat-chip>
              <mat-chip
                class="example-box"
                cdkDrag
                *ngFor="let schueler of schuelerCompleteList"
                (click)="chipClicked(schueler)">
                {{schueler.name}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <div class="row">
          <div class="col-8 text-left mt-2">
            <p>
            <button type="button" class="btn btn-danger mr-2 ml-2" (click)="kicken()" >{{kickStudentName}} Entfernen</button>
            </p>
          </div>
            <div class="col-4 text-right mt-2 ">
              <button type="button" class="btn btn-primary">Session Starten</button>
            </div>
        </div>
      </div>
    </div>
  </div>



