<div class="row mt-5">
  <div class="col text-center">
    <h1>Gruppen zuteilung</h1>
  </div>
</div>
<div cdkDropListGroup>
  <div class="row mt-4">
      <div class="col">
        <app-gruppen-element></app-gruppen-element>
      </div>
      <div class="col">
        <div class="card mt-2">
          <h4 class="card-header">Schülerliste</h4>
          <div class="card-body">
            <mat-chip-list
              class="example-chip"
              cdkDropList
              id="listOne"
              cdkDropListConnectedTo='listTwo'
              cdkDropListOrientation="horizontal"
              [cdkDropListData]="schuelerCompleteList"
              (cdkDropListDropped)="drop($event)">
              <mat-chip *ngIf="schuelerCompleteList.length <= 0">Schüler Liste ist Leer</mat-chip>
              <mat-chip
                class="example-box"
                cdkDrag
                *ngFor="let schueler of schuelerCompleteList">
                {{schueler.name}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <div class="text-right mt-2">
          <p>Clicked Chip
          <button type="button" class="btn btn-outline-danger mr-2">Rauswerfen</button>
          <button type="button" class="btn btn-outline-primary">Session Starten</button>
          </p>
        </div>
      </div>
    </div>
  </div>



