.themen-chip-list {
  width: 100%;
}
.sessionIdBox {
  margin-bottom: 25px;
  margin-top: 25px;
  box-shadow: 10px 5px 5px rgba(70, 69, 69, 0.281);
  border-style:solid;
  border-width: 1px;
  margin-left: 10px;
}
.stepRow
{
  margin-top: 50px;
}
