.aufgaben
{
  border: 1px solid #000000;
  border-radius: 5px;
  max-width: 200px;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.7);
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.7);
}
.hinweise
{
  border: 1px solid #000000;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.7);
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.7);
}
.inHinweis
{
  width: 100%;
}
.etherpad
{
  border: 1px solid #000000;
  border-radius: 5px;
  height: 500px;
  width: 100%;
}
