<div class="card mt-2">
  <h4 class="card-header .matMargin">Gruppe {{gruppenID}}:   {{titelThema}}</h4>
  <div class="card-body change">
    <div class="row">
      <div class="col">
        <h5 class="card-title mt">Gruppen Mitglieder:</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="groupIndicator">
          <mat-chip-list
            class="example-chip"
            cdkDropList
            id="listTwo"
            cdkDropListConnectedTo="listOne"
            cdkDropListOrientation="horizontal"
            [cdkDropListData]="newSchuelerList"
            (cdkDropListDropped)="drop($event)">
            <mat-chip *ngIf="newSchuelerList.length <= 0">Gruppe ist Leer</mat-chip>
            <mat-chip
              class="example-box"
              cdkDrag
              *ngFor="let schueler of newSchuelerList">
              {{schueler.name}}
            </mat-chip>
          </mat-chip-list>
          <hr>
        </div>
    </div>
  </div>
</div>
</div>





