<div class="row">
  <div class="col text-right">
    <button type="button" class="btn btn-secondary" routerLink="/admin-content-editor" routerLinkActive="active">Admin</button>
  </div>
</div>
  <div class="row">
    <div class="col-sm-4 mx-auto text-center">
      <img src="..//..//../assets/pictures/undraw_Scrum_board_re_wk7v.svg" class="img-fluid" alt="Responsive image" >
      <p class="welcome">
        Wilkommen bei der Web-Tool App
      </p>
    </div>
  </div>
<div class="row">
  <div class="col-sm-4 mx-auto">
    <form>
      <div class="form-group">
        <label for="name">Dein Name</label>
        <input type="text" class="form-control" id="name" placeholder="Gebe deinen Namen ein">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Session ID</label>
        <input type="text" class="form-control" id="sessionId" placeholder="Session ID">
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-success loginBtn" routerLink="/app-gruppen-auswahl" routerLinkActive="active">Weiter</button>
      </div>
    </form>
  </div>
</div>



