<div class="row text-center mt-5">
  <div class="col">
    <div>
      <h1>Gruppen Editor</h1>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-auto">
    <button type="button" class="btn btn-success" (click)="addGruppe()">Gruppe Hinzufügen</button>
    <button type="button" class="btn btn-danger ml-4" (click)="deleteGruppe()">Gruppe Löschen</button>
  </div>
  <div class="col">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Gruppen Größe</span>
      </div>
      <input type="text" class="form-control sizing" [(ngModel)]="groesse" >
      <div class="input-group-append">
        <span class="input-group-text toolTip" matTooltip="Bitte geben Sie hier die Gewünsche Gruppen größe ein z.B 5.">Info</span>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div *ngFor="let gruppe of gruppe; let i = index" class="col-12">
    <app-gruppen-table-element
    [temporalId]="gruppe.temporalCreateId"
    [gruppe]="gruppe"
    [themenListe]="themenListe"
    (changeGruppeEvent)="changeThema($event)"></app-gruppen-table-element>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Bearbeitungs Zeit in Minuten</span>
      </div>
      <input type="text" class="form-control sizing">
      <div class="input-group-append">
        <span class="input-group-text toolTip" matTooltip="Bitte geben Sie hier die Gewünsche Bearbeitungszeit in Minuten an. Z.b 20.">Info</span>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col text-center">
    <button type="button" class="btn btn-outline-secondary navBtn" routerLink="/admin-aufgaben-editor" routerLinkActive="active">Zurück</button>
    <!-- Vl hove mit error msg-->
    <button type="button" class="btn btn-primary ml-3 navBtn" routerLink="/app-gruppen-auswahl" [disabled]="!isAllSelected()">Session Erstellen</button>
  </div>
</div>


